@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
*{
    margin: 0px;
} 
.navbar{
    background-color: #0A1525;
    display: flex;
    justify-content: space-between;

}
.img1{
    display: flex;
}
.imgnav{
    height: 50px;
    margin-top: 40px;
    margin-left: 20px;
}
.ih{
    font-size:  40px;
    margin-top: 40px;
    color: white;
}

.content{
    display: flex;
    color: white;
    margin-top: 40px;
}
.fa{
     font-size:  40px;
    margin-top: 40px;
    margin-right: 10px;
    color: white;
}

@media screen and (max-width:576px){
    .content{
    display: none;
    color: white;
    margin-top: 40px;
}
.fa{
     font-size:  40px;
    margin-top: 40px;
    margin-right: 10px;
    color: white;
}

}
@media screen and (min-width:768px){
    .content{
    display: flex;
    color: white;
    margin-top: 40px;
}
.fa{
    display: none;
     font-size:  40px;
    margin-top: 40px;
    margin-right: 10px;
    color: white;
}

}
.nv{
    padding: 5px;
}

.card1{
    background-image: url("https://img.b2bpic.net/premium-photo/laptop-with-business-sketch_700248-24882.jpg");
    background-size: cover;
    height: 400px;
    padding-top: 200px;
    padding-left: 20px;
}
.h1{
    color: #ffffff;
    font-size: 45px;
    font-family: "Bree Serif";
}
.p1{
    color: #def3eb;
    font-size: 16px;
/*     font-family: "Bree Serif"; */
    margin: 10px;
}
.button1{
    background-color: #FF7A2E;
    border: solid;
    border-width: 0px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color: #ffffff;
    font-size: 20px;
}
.card2a{
    text-align: center;
}

@media screen and (min-width:768px){
 .card2sub{
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     margin: 2px;
 }

}

.h2{
    color: #0A1525;
    font-size: 45px;
    font-family: "Bree Serif";
    margin: 10px;
}
.p2{
    color: black;
    font-size: 16px;
  font-family: "Bree Serif"; 
    margin: 10px;
}
.a1{
    height: 300px;
    width: 300px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 20px;
}
.ah{
     color: #0A1525;
    font-size: 25px;
    font-family: "Bree Serif";
    margin: 10px;
    margin-left: 80px;
    margin-right: 80px;
}
.ap{
     color: black;
    font-size: 16px;
  font-family: "Bree Serif"; 
    margin: 10px;
    margin-left: 80px;
    margin-right: 80px;
}
.card3{
    background-color: #dfe3eb;
}
.card3a{
    text-align: center;
}
.h3{
    font-size: 15px;
    margin: 20px;
}

.box{
    height: 25px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 5px;
}
.boxc{
    height: 150px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 5px;
}
.span{
    color: red;
}
.h4{
       color: #dfe3eb;
    font-size: 16px;
  
    margin: 10px;
}

@media screen and (min-width:768px){
  .card3x{
      display: flex;

  }
  .box1{
      width: 450px;
  }
}

.icons{
      color: #dfe3eb;
    font-size: 20px;
  
    margin: 10px;
}
.bf{
    display: flex;
    justify-content: space-between;
}
.xp{
      color: #dfe3eb;
    font-size: 18px;
  
    margin: 20px;
    
}
.hx{
      color: #dfe3eb;
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
}
.l{
      color: #dfe3eb;
    font-size: 10px;
    font-weight: bold;
    margin: 0px;
    padding: 20px;
}

.footer{
    background-color: #1E293B;
}
@media screen and (min-width:768px){
.footer{
    background-color: #1E293B;
    display: flex;
}

}

.f2{
    background-color: #1E293B;
}
